body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
}

::selection{
  color: #fff;
  background-color: #000;
}

/* Navbar Coding */
.navbar{
    box-shadow: 5px 2px 2px 1px #ccc;
}

.logo-name{
  letter-spacing: 1px;
}

.logo-name:hover{
  color: #0D6EFD;
}

.navbar-toggler{
    border: none;
    color: #000;
    font-size: 20px;
}

.nav-link{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
}

.nav-link:hover{
    color: #031D44;
}

/* Navbar hover bottom line */

.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }

  .nav-link-fade-up::before {
    width: 80%;
    bottom: 5px;
    opacity: 0;
  }

  .nav-link-fade-up:hover::before {
    bottom: -2px;
    opacity: 1;
  }

/* Navbar hover bottom line end */

/* Navbar Coding End */

/* Header Coding Start */

.header-text{
  margin-top: 50px;
  font-size: 55px;
  letter-spacing: 1px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7) !important;
}

.my-name{
  color: #0D6EFD;
}

.button-div{
  margin-top: 50px;
}

.button{
 width: 120px;
 height: 35px;
 box-sizing: border-box;
 border: none;
 font-size: 20px;
 letter-spacing: 1px;
 color: #fff;
 background-color: #0D6EFD;
 border-radius: 7px 1px 7px 1px;
 transition: 0.3s;
}

.button:hover{
  background-color: #fff;
  color: #0D6EFD;
  border: 1px solid #0D6EFD;
}

.photo-div{
  margin-top: 10px;
}

@media (max-width:767px){
  .header-text{
    font-size: 30px;
  }
}

@media (max-width:575px){
  .header-text{
    margin-top: 50px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .photo-div{
    width: 300px;
  }
}

/* Header Coding End */

/* About Coding Start */

.about-shubham{
  margin-top: 10px;
}

.about-me{
  margin-top: 15px;
  font-size: 18px;
  text-transform: capitalize;
}

.about-img{
  margin-top: 65px;
}

/* About Coding End */

/* Skill Coding Start */

.my-goal{
  font-size: 18px;
  text-transform: capitalize;
}

.rang{
  margin-top: 25px;
  box-shadow: 3px 3px 10px 1px rgb(184, 183, 183);
  border-radius: 15px;
}

.rang i{
  color: rgb(27, 252, 7);
  margin: 10px;
}

.progress-bar{
  background-color: rgb(27, 252, 7);
  border-bottom: 3px solid rgb(27, 252, 7);
}

.exeperience-text{
  font-size: 15px;
  font-weight: bold;
}

.percent{
  float: right;
  font-weight: bold;
}

.skill-image{
  margin-top: 140px;
}

/* Skill Coding End */

/* Work Coding Start */

.image-container{
  position: relative;
}

.overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .7s ease;
}

.image-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

/* Work Coding End

/* Contact Coding Start */

.contact-icon{
  padding: 10px;
  border: 1px solid rgb(27, 252, 7);
  color: rgb(27, 252, 7);
  font-size: 22px;
}

.contact-icon-text{
  font-size: 18px;
}

.form-control{
  border-radius: 0px;
}

/* Contact Coding End */

/* Footer Coding Start */

.footer-container{
  background-color: rgba(1, 4, 44, 0.9);
}

.footer-name{
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.footer-social-link i{
 padding: 10px;
 font-size: 20px;
 color: #fff;
}

.footer-social-link .linkedin:hover{
 color: #0073B2;
}

.footer-social-link .twitter:hover{
  color: #000;
}

.footer-social-link .facebook:hover{
  color: #0E8FF2;
}

.footer-social-link .instagram:hover{
  color: #F70181;
}

.footer-social-link .youtube:hover{
  color: #FF0000;
}

.footer-social-link .github:hover{
  color: #0D6EFD;
}


/* Footer Coding End */